
.home_style {
  background: url('https://i.ytimg.com/vi/SmO5wKFZnmk/maxresdefault.jpg');
  height: 100vh !important; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_paper {
  margin-top: 50px;
  padding-bottom: 50px;  
  padding-top: 25px;  
  text-align: center;  
  background-color: #0097A7 !important;
}

.home_title {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 400;
  opacity: 0.87;
}